<nav>
<div class="navbar">
  <a href="#bio">Bio</a>
  <a href="#publications">Publications</a>
  <a href="#activities">Professional Activites</a>
</div>
</nav>

<h2 id="bio">Bio</h2>
<p class="bio">
I am a principal security expert at <a href="https://www.sgs.com/en/campaigns/sgs-cybersecurity-services">SGS (Connectivity &amp; Products)</a>. Before joining SGS, I was a postdoctoral researcher (2017&ndash;2018) and a research assistant (2012&ndash;2017) in the <a href="https://www.iaik.tugraz.at/research-area/securesystems/">Secure Systems</a> group at <a href="https://www.iaik.tugraz.at">IAIK</a>, <a href="https://www.tugraz.at">Graz University of Technology</a>. I obtained a PhD degree (Dr. techn.) in computer science with distinction from Graz University of Technology in 2017. My main research interests are information security with a special focus on software-based side-channel attacks (e.g., microarchitectural attacks, cache-timing attacks, and attacks exploiting public resources on Android), and practical applications of privacy-enhancing technologies (e.g., group signature schemes and revocation mechanisms). 
<!-- Before, I finished the master's programme Software Engineering and Management with distinction at Graz University of Technology.--></p>

<p>For information about my professional activites, such as reviewing activites and teaching activites, please refer to the <a href="#activities">Professional Activites</a> section. </p>

