<nav>
<div class="navbar">
  <a href="#bio">Bio</a>
  <a href="#publications">Publications</a>
  <a href="#teaching">Teaching</a>
</div>
</nav>

<h2 id="bio">Bio</h2>
<p class="bio">I am a postdoctoral researcher in the <a href="https://www.iaik.tugraz.at/content/research/sesys/">Secure Systems</a> group at <a href="https://www.iaik.tugraz.at">IAIK</a>, <a href="https://www.tugraz.at">Graz University of Technology</a>. My main research interests are information security with a special focus on side-channel attacks on mobile devices, e.g., cache attacks and sensor-based attacks, and practical applications of privacy-enhancing technologies. I obtained a PhD degree (Dr. techn.) in computer science with distinction from Graz University of Technology in 2017. Before, I finished the master's programme Software Engineering and Management with distinction at Graz University of Technology.</p>

<h3>Projects</h3>
<ul class="itemprefix">
  <li><a href="http://comet-secos.at/en/">SeCoS</a> (2013-2015)</li>
  <li><a href="http://newpass.av.it.pt/">NewP@ss</a> (2012-2015)</li>
</ul>

<h3>Program Committee</h3>
<ul class="itemprefix">
<li><a href="https://sicherheit2018.in.htwg-konstanz.de/">SICHERHEIT 2018</a></li>
</ul>

<h3>Conference Refereeing</h3>
<ul class="itemprefix">
  <li>2017: SPACE</li>
  <li>2016: ARES, ASIACRYPT</li>
  <li>2015: EUROCRYPT, FSE</li>
  <li>2014: CHES, DATE, EUROCRYPT, INTRUST</li>
  <li>2013: CARDIS, COSADE, IEEE RFID, SAC</li>
  <li>2012: CARDIS</li>
</ul>

<h3>Journal Refereeing</h3>
<ul class="itemprefix">
  <li><a href="http://www.journals.elsevier.com/computers-and-security/">Computers &amp; Security</a></li>
  <li><a href="http://www.signalprocessingsociety.org/publications/periodicals/forensics/">IEEE Transactions on Information Forensics and Security</a></li>
  <li><a href="http://www.journals.elsevier.com/journal-of-information-security-and-applications/">Journal of Information Security and Applications</a></li>
  <li><a href="http://www.journals.elsevier.com/pervasive-and-mobile-computing/">Pervasive and Mobile Computing</a></li>
  <li><a href="http://comjnl.oxfordjournals.org/">The Computer Journal (Oxford University Press)</a></li>
</ul>

