<footer>
  <!-- <div class="news">
    <h3>News</h3>
    <table class="newstable">
      <tr>
        <td class="date">June 2018</td>
        <td>Paper at <a href="https://www.usenix.org/conference/usenixsecurity18">USENIX Security 2018</a></td>
      </tr>
      <tr>
        <td class="date">Apr. 2018</td>
        <td>2 Papers at <a href="https://wisec18.conf.kth.se">WISEC 2018</a></td>
      </tr>
      <tr>
        <td class="date">Mar. 2018</td>
        <td>2 Papers at <a href="http://asiaccs2018.org/">ASIACCS 2018</a></td>
      </tr>
    </table>
  </div> -->
  <p class="remark">Hosted on GitHub Pages</a>.</p>
  <p class="remark">Theme inspired by <a href="https://derlerd.github.io/">derlerd</a>, <a href="https://tlepoint.github.io/">tlepoint</a>, and <a href="https://github.com/orderedlist/minimal">orderedlist</a>.</p>
</footer>
