<footer>
  <div class="news">
    <h3>News</h3>
    <table class="newstable">
      <tr>
        <td class="date">Nov. 2017</td>
        <td>Paper in <a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=9739">IEEE COMST</a></td>
      </tr>
      <tr>
        <td class="date">Oct. 2017</td>
        <td>Paper at <a href="https://www.ndss-symposium.org/ndss2018/">NDSS 2018</a></td>
      </tr>
    </table>
  </div>
  <p class="remark">Hosted on GitHub Pages</a>.</p>
  <p class="remark">Theme inspired by <a href="https://derlerd.github.io/">derlerd</a>, <a href="https://tlepoint.github.io/">tlepoint</a>, and <a href="https://github.com/orderedlist/minimal">orderedlist</a>.</p>
</footer>
