<header>
  <img src="{{site.authorimg}}" alt="{{site.author}}" width="150" />
  <h1>{{site.author}}</h1>
  <p class="occup">{{site.authoroccup}}</p>
  <p class="affil"><a href="{{site.insturl}}">{{site.inst}}</a>, <a href="{{site.uniurl}}">{{site.uni}}</a></p>
  <ul class="extlinks">
    <li><a href="{{site.vcard}}" target="_blank"><i class="fa fa-user"></i></a></li>
    <li><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://orcid.org/{{site.orcid}}" target="_blank"><i class="ai ai-orcid ai-lg" style="vertical-align: -5%;"></i></a></li>
    <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.xing.com/profile/{{site.xing}}" target="_blank"><i class="fa fa-xing"></i></a></li>
    <li><a href="https://dblp.uni-trier.de/pers/{{site.dblp}}" target="_blank"><i class="ai ai-dblp ai-lg" style="vertical-align: -5%;"></i></a></li>
    <li><a href="https://scholar.google.com/citations?user={{site.scholar}}&hl=en" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
    <li><a href="mailto:{{site.email}}" title="mail"><i class="fa fa-envelope"></i></a></li>
  </ul>
</header>
