<h2 id="activities">Professional Activities</h2>
<!--<h3>Project Management</h3>
<ul class="itemprefix">
  <li><a href="http://comet-secos.at/en/">SeCoS</a> (2013-2015)</li>
  <li><a href="http://newpass.av.it.pt/">NewP@ss</a> (2012-2015)</li>
</ul> -->

<p>Below you can find a list of professional activities and teaching activites. </p>

<h3>Program Committee</h3>
<ul class="itemprefix">
<li><a href="https://ssr2020.mozilla.org/">Security Standardisation Research 2020</a></li>
<li><a href="https://www.ares-conference.eu/workshops/wisi-2020/">Workshop on Industrial Security and IoT @ ARES 2020</a></li>
<li><a href="https://2019.ares-conference.eu/workshops/wisi-2019/">Workshop on Industrial Security and IoT @ ARES 2019</a></li>
<li><a href="https://sicherheit2018.in.htwg-konstanz.de/">SICHERHEIT 2018</a></li>
</ul>

<h3>Conference Refereeing</h3>
<ul class="itemprefix">
  <li>2018: ICDCS, ISC</li>
  <li>2017: SPACE</li>
  <li>2016: ARES, ASIACRYPT</li>
  <li>2015: EUROCRYPT, FSE</li>
  <li>2014: CHES, DATE, EUROCRYPT, INTRUST</li>
  <li>2013: CARDIS, COSADE, IEEE RFID, SAC</li>
  <li>2012: CARDIS</li>
</ul>

<h3>Journal Refereeing</h3>
<ul class="itemprefix">
  <li><a href="https://www.journals.elsevier.com/computers-and-security/">Computers &amp; Security</a></li>
  <li><a href="https://ieeeaccess.ieee.org/">IEEE Access</a></li>
  <li><a href="http://ieee-cssletters.dei.unipd.it/">IEEE Control Systems Letters</a></li>
  <li><a href="https://www.signalprocessingsociety.org/publications/periodicals/forensics/">IEEE Transactions on Information Forensics and Security</a></li>
  <li><a href="https://www.journals.elsevier.com/journal-of-information-security-and-applications/">Journal of Information Security and Applications</a></li>
  <li><a href="https://www.journals.elsevier.com/pervasive-and-mobile-computing/">Pervasive and Mobile Computing</a></li>
  <li><a href="https://academic.oup.com/comjnl">The Computer Journal (Oxford University Press)</a></li>
</ul>

<h3>Teaching Activites</h3>
<ul class="itemprefix">
<li><a href="https://www.iaik.tugraz.at/course/secure-product-lifecycle/">Secure Product Lifecycle</a>, at Graz University of Technology (<a href="https://www.iaik.tugraz.at/course/secure-product-lifecycle/">2020</a>)</li>
<li><a href="https://www.iaik.tugraz.at/course/embedded-security/">Embedded Security</a>, at Graz University of Technology (<a href="https://teaching.iaik.tugraz.at/embsec/start">2016&ndash;2018</a>)</li>
<li>Supervision of <a href="https://www.iaik.tugraz.at/teaching/master-thesis/">seminar projects</a>, <a href="https://www.iaik.tugraz.at/teaching/bachelor-thesis/">Bachelor's Theses</a>, and <a href="https://www.iaik.tugraz.at/teaching/master-thesis/">Master's Theses</a>, at Graz University of Technology (2012&ndash;2018)</li>
</ul>
